<html>
  <body>
    <h1>
      Hola {{ firstName }},
    </h1>
    <p>
      Le escribimos para informarle que su comportamiento reciente ha sido marcado como una violación de los <a href="https://www.ridecircuit.com/terms">Términos de Uso</a> y el <a href="https://www.ridecircuit.com/conduct">Código de Conducta de Pasajeros</a> de Circuit y <i>tu cuenta sido prohibida debido a una tercera advertencia.</i>.
      <br><br>
      Tenga en cuenta que tiene prohibido acceder, poseer o crear cualquier otra cuenta de Circuit.
      <br><br>
      Si desea apelar esta prohibición, infórmenos iniciando <a href="https://www.ridecircuit.com/rider-inquiry">un chat de soporte al usuario</a> y seleccionando la opción "Huelga o prohibición".
      <br><br>
      Todo lo mejor,
      <br>
      El Equipo De Circuit
    </p>
  </body>
</html>