<html>
  <body>
    <h1>
      Hello {{ firstName }},
    </h1>
    <p>
      We are writing to inform you that your recent behavior has been flagged as a violation of Circuit's <a href="https://www.ridecircuit.com/terms">Terms of Use</a> and <a href="https://www.ridecircuit.com/conduct">Rider Code of Conduct</a>.
      <br><br>
      This is your second strike, <i>your account is still active and you are still able to make requests.</i>
      <br><br>
      If you are flagged for a third time a third strike will be applied to your account and you will be immediately banned with or without further warning.
      <br><br>
      If you would like to appeal this strike please let us know by starting a <a href="https://www.ridecircuit.com/rider-inquiry">rider support chat</a> and selecting the "Strike or ban" option.
      <br><br>
      All the best,
      <br>
      The Circuit Team
    </p>
  </body>
</html>