<html>
  <body>
    <h1>
      Hola {{ firstName }},
    </h1>
    <p>
      Le escribimos para informarle que su comportamiento reciente ha sido marcado como una violación de los <a href="https://www.ridecircuit.com/terms">Términos de Uso</a> y el <a href="https://www.ridecircuit.com/conduct">Código de Conducta de Pasajeros</a> de Circuit.
      <br><br>
      Este es tu segundo aviso, <i>tu cuenta aún está activa y aún puedes realizar solicitudes</i>.
      <br><br>
      Si lo marcan por tercera vez, se aplicará un tercer aviso a su cuenta y se le prohibirá inmediatamente con o sin previo aviso.
      <br><br>
      Si desea apelar esta huelga, infórmenos iniciando <a href="https://www.ridecircuit.com/rider-inquiry">un chat de soporte al usuario</a> y seleccionando la opción "Huelga o prohibición".
      <br><br>
      Todo lo mejor,
      <br>
      El Equipo De Circuit
    </p>
  </body>
</html>