server {
  listen 443 ssl http2;
  server_name {{ rider_url }};

  access_log /var/log/nginx/{{ rider_url }}-access.log;
  error_log /var/log/nginx/{{ rider_url }}-error.log;

  include /etc/nginx/includes/ssl.conf;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~* /v[0-9]+ {
    proxy_pass http://{{ nginx_stage }};
    include /etc/nginx/includes/http-reverse-proxy.conf;
  }

  location /socket.io/ {
    proxy_pass http://{{ nginx_stage }};
    include /etc/nginx/includes/ws-reverse-proxy.conf;
  }
}
