<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Admin URL</key>
	<string>https://admin.tfrholdingscorp.com</string>
	<key>Intercom API Key</key>
	<string>ios_sdk-4cc8fe194904a0610673c0dc00383005b4ed098a</string>
	<key>Intercom App Id</key>
	<string>ort6wyru</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload images to our support team</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ride Circuit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ride Circuit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(SHARED_RIDER_VERSION_NUMBER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.136655513780-o6op8j7ia8aj9p7j3dcj3klne6mn67uu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Host URL</key>
	<string>https://rider.tfrholdingscorp.com/v1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Maps API Key</key>
	<string>AIzaSyDW16mNMyFsUjFQ9RevDoB36LtIlOuFD3E</string>
	<key>Maps Polyline API Key</key>
	<string>AIzaSyDp85LVYefPDMqVufD7UHl1CWUccJTxCos</string>
	<key>Mixpanel token</key>
	<string>fab662bb2eee83c8af0d13a5d5055285</string>
	<key>NSCameraUsageDescription</key>
	<string>To scan cards</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We&apos;d like to use your location to help you find nearby available Drivers.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We&apos;d like to use your location to help you find nearby available Drivers.</string>
	<key>NSLocationUsageDescription</key>
	<string>We&apos;d like to use your location to help you find nearby available Drivers.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We&apos;d like to use your location to help you find nearby available Drivers.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>PLEASE NOTE: Circuit is a ride-share service that needs the ability to work with other apps to operate as efficiently as possible. Your activity helps us build a better service with more informed updates to our routing system and better direct communication with you about things that matter. We value your privacy and use this information to provide better services for you and the community.</string>
	<key>Socket URL</key>
	<string>https://rider.tfrholdingscorp.com:443</string>
	<key>Stripe PK</key>
	<string>pk_live_TT1CnT6hrhCRMuP6TrcQ85R000PhrQjXlD</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>AppLaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Walkthrough</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>c315e1f943561a37c5a6e37fb7f70937</string>
		<key>releaseStage</key>
		<string>production</string>
	</dict>
	<key>GIDClientID</key>
	<string>136655513780-o6op8j7ia8aj9p7j3dcj3klne6mn67uu.apps.googleusercontent.com</string>
</dict>
</plist>
