<html>
  <body>
    <h1>
      Hello {{ firstName }},
    </h1>
    <p>
      We are writing to inform you that your recent behavior has been flagged as a violation of Circuit's <a href="https://www.ridecircuit.com/terms">Terms of Use</a> and <a href="https://www.ridecircuit.com/conduct">Rider Code of Conduct</a> and <i>your account has been banned</i>.
      <br><br>
      Please be aware that you are prohibited from accessing, possessing or creating any other Circuit accounts.
      <br><br>
      If you would like to appeal this ban please let us know by starting a <a href="https://www.ridecircuit.com/rider-inquiry">rider support chat</a> and selecting the, “Strike or ban” option.
      <br><br>
      All the best,
      <br>
      The Circuit Team
    </p>
  </body>
</html>