#!/bin/bash

readonly DRIVER_USERNAME="asd@asd.com"
readonly DRIVER_PASSWORD="123"

readonly RIDER_USERNAME=""
readonly RIDER_PASSWORD=""

# Needed for Age Restriction tests.
# Account should have a year of birth below 2005.
readonly RIDER_UNDER_AGED_USERNAME=""
readonly RIDER_UNDER_AGED_PASSWORD=""
