//
//  Secrets.swift
//  FreeRide
//
//  Created by Ricardo Pereira on 25/07/2022.
//  Copyright © 2022 Circuit. All rights reserved.
//

import Foundation

// Example:
//let secretDriverTesterEmail = "driver@ridecircuit.com"
//let secretDriverTesterPassword = "12345678"
